absl-py 
aiohttp 
astunparse==1.6.3
async-timeout==3.0.1
attrs 
blinker==1.4
bokeh 
brotlipy==0.7.0
cachetools 
certifi==2020.12.5
cffi 
chardet 
click 
cloudpickle 
colorama==0.4.4
contextvars==2.4
convertdate 
cryptography 
cycler==0.10.0
Cython 
cytoolz==0.11.0
dask==2021.1.1
dask-glm==0.2.0
dask-ml 
distributed==2021.1.1
ephem 
fastparquet 
fbprophet
filelock==3.0.12
gast==0.3.3
google-auth 
google-auth-oauthlib 
google-pasta==0.2.0
googleapis-common-protos==1.52.0
graphviz
grpcio 
h5py 
HeapDict==1.0.1
hijri-converter 
holidays 
idna 
immutables 
importlib-metadata 
Jinja2 
joblib 
jsonschema==3.2.0
Keras 
Keras-Preprocessing==1.1.0
kiwisolver  
llvmlite==0.34.0
locket==0.2.1
LunarCalendar==0.0.9
Markdown 
MarkupSafe==1.1.1
matplotlib 
mkl-service
multidict 
multipledispatch==0.6.0
numba 
numpy 
oauthlib==3.1.0
olefile==0.46
packaging
pandas==1.1.5
partd==1.1.0
patsy==0.5.1
Pillow
protobuf==3.13.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser 
PyJWT==1.7.1
PyMeeus 
pyOpenSSL 
pyparsing 
pyrsistent==0.17.3
PySocks 
pystan==2.17.1.0
python-dateutil==2.8.1
pytz 
PyYAML==5.4.1
requests 
requests-oauthlib==1.3.0
rsa 
scikit-learn==0.24.1
scipy 
seaborn 
six 
sortedcontainers 
statsmodels 
tblib 
tensorboard 
tensorboard-plugin-wit
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
threadpoolctl 
thrift==0.11.0
toolz 
tornado 
tqdm 
typing-extensions 
urllib3 
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.5.1
zict==2.0.0
zipp 

