absl-py 
aiohttp 
astunparse
async-timeout
attrs 
blinker
bokeh 
brotlipy
cachetools 
certifi
cffi 
chardet 
click 
cloudpickle 
colorama
contextvars 
cryptography 
cycler
Cython 
cytoolz
dask
dask-glm
dask-ml 
distributed
ephem 
filelock
gast
google-auth 
google-auth-oauthlib 
google-pasta
googleapis-common-protos
graphviz
grpcio 
h5py 
HeapDict 
idna 
immutables 
importlib-metadata 
Jinja2 
joblib 
jsonschema
Keras 
Keras-Preprocessing
kiwisolver  
llvmlite
locket
Markdown 
MarkupSafe
matplotlib 
mkl-service
multidict 
multipledispatch
numba 
numpy 
oauthlib
olefile
packaging
pandas
partd
patsy
Pillow
protobuf
psutil
pyasn1
pyasn1-modules
pycparser 
PyJWT 
pyOpenSSL 
pyparsing 
pyrsistent
PySocks 
pystan
python-dateutil
pytz 
PyYAML
requests 
requests-oauthlib
rsa 
scikit-learn
scipy 
seaborn 
six 
sortedcontainers 
statsmodels 
tblib 
tensorboard 
tensorboard-plugin-wit
tensorflow==2.1.0
tensorflow-estimator
termcolor
threadpoolctl 
thrift
toolz 
tornado 
tqdm 
typing-extensions 
urllib3 
Werkzeug
wrapt
yarl
zict
zipp 

